.c-btn {
  padding: 5px 10px;
  color: black;
  background: #69bcb3;
  border: 2px solid #3f535a;
  border-radius: 20px;
  cursor: pointer;
  transition: background .15s ease-out;
  font-size: 16px;
  margin: 10px;
 
  &:hover {
    background: #cbddfb;
  }
 
  &:focus {
    outline: 0;
    box-shadow: 0 0 4px currentColor;
  }
 }