
.body {

/* background-color: #3f5e5a; */
/* background-color: #141414; */
/* background-color: #ff7f50; */
/* background-color: #d9e5d6; */
/* background-color: #69bcb3; */

}

.header {
  background-color: #3f5e5a;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* flex-direction: column; */
  display: inline-block;
  float: none;
  align-items: left;
  vertical-align: middle;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: black;
  
  
}

.header a{
  margin-left: 10px;
  position: absolute;
  right: 30px;
  top: 10px;
  text-align: right;
  font-weight: bold;
  color: #ff7f50;
}

.footer{
  background-color: #3f5e5a;
  left: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
  overflow: hidden;
  color:#141414;
  font-size: 15px;
  text-align: center;
  padding-top: 10px;
}

/* div{
  border: 2px solid grey;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
} */

table, th, td {
  border: 1px solid black;
  padding: 5px;
  margin-top: 20px;
  margin-left: 10px;
  color: #3f5e5a;
  margin-bottom: 20px;
}

.restaurant-manager {
 margin-top: 75px;
 margin-left: 10px;
}






